html
  head

  body

    p Liste des
    p=categorie

     table
      <thead>
        <tr>
            <th>titre
            <th>auteur


      each val in tab2
        tr
        td=val.titre
        td=val.auteur

    a(href="/") retour à la page principale

